APPLICATION_HOST=application
APPLICATION_PORT=8081
GIN_MODE=debug

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_HOST=host
POSTGRES_DATABASE=database
POSTGRES_INITDB_ARGS: --auth=md5