AUTH_HOST=auth
AUTH_PORT=8080
AUTH_JWT_SIGNING_KEY=someSuperStrongKey
AUTH_SMTP_USERNAME=smptmail@domain.com
AUTH_SMTP_PASSWORD=someSmtpPassword
GIN_MODE=debug

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_HOST=host
POSTGRES_DATABASE=database
POSTGRES_INITDB_ARGS: --auth=md5

REDIS_HOST=auth_redis
REDIS_PORT=6379
REDIS_PASSWORD=somePassThatMatchesConfFile